@import '@fontsource/righteous/400.css';
@import 'tailwindcss';

@theme {
	--font-family-righteous: 'Righteous', sans-serif;
}

html,
body {
	background-color: black;
	scrollbar-width: none;
	-webkit-scrollbar: hidden;
}
